<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body>
		<h1>Profile</h1>
		<h3>It's showing the current user data stored in DB</h3>
		<table border="1" cellspacing="10" , cellpadding="10">
			<tr>
				<th>UserID</th>
				<td>{{user.id}}</td>
			</tr>
			<tr>
				<th>username</th>
				<td>{{user.username}}</td>
			</tr>
			<tr>
				<th>email</th>
				<td>{{user.email}}</td>
			</tr>
		</table>
		<br />
		<br />
		<a href="/logout"><button type="button">Logout</button></a>
	</body>
</html>